@model FruitSA_Dev_Test.DAL.Models.Category

@{
    ViewData["Title"] = "Create Category";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous" />
    <title>Edit Category</title>
</head>
<body>

    <form id="editCategory">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header"> <h2>Edit Category</h2></div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="categoryId" class="form-label">Category Id</label>
                        <input type="text" class="form-control" id="categoryId" name="categoryId" placeholder="Category Name" value="@Model.CategoryId">
                    </div>
                    <div class="mb-3">
                        <label for="categoryName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Category Name">
                    </div>
                    <div class="mb-3">
                        <label for="categoryCode" class="form-label">Category Code</label>
                        <input type="text" class="form-control" id="categoryCode" name="categoryCode" placeholder="Category Code">
                    </div>
                    <div class="md-4">
                        <input class="form-check-input" type="checkbox" value="" id="isActive" name="isActive">
                        <label class="form-check-label" for="isActive" name="isActive">Active</label>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-6">
                        <input class="btn btn-primary" type="submit" value="Update" />
                        <a href="/Categories/Categories" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>



</body>

</html>
<script>

    

    var categoryId = @Model.CategoryId;
    $(document).ready(function () {
        var bearer_token = localStorage.getItem("FruitsKey");
        var bearer = 'Bearer ' + bearer_token;
            if (categoryId>0)
            {
                fetch(`https://localhost:7252/api/Category/GetCategories/${categoryId}`,
                    {
                        method: 'GET',
                        headers: {
                        'Authorization': bearer,
                    }
                }).then((data) => {
                    return data.json();
                }).then((categories) => {
                    document.getElementById("categoryId").value = categories.categoryId;
                    document.getElementById("name").value = categories.name
                    document.getElementById("categoryCode").value = categories.categoryCode
                    document.getElementById("isActive").checked = categories.isActive 
                    });
            }
            else
            {
                document.getElementById("categoryId").value = 0;
            }
         });

    const form = document.getElementById('editCategory');


        //POST REQUEST
    editCategory.addEventListener('submit', function (e) {
        e.preventDefault();

        const categories = new FormData(form);
        var catid = document.getElementById('categoryId').value;
        var name = document.getElementById('name').value;
        var categoryCode = document.getElementById('categoryCode').value;
        var isActive = document.getElementById('isActive').checked;

        console.log(categories);

        $(document).ready(function () {
            var bearer_token = localStorage.getItem("FruitsKey");
            var bearer = 'Bearer ' + bearer_token;

        fetch('https://localhost:7252/api/Category/CreateUpdateCategory', {
            method: "PUT",
            body: JSON.stringify({
                categoryId: catid,
                name: name,
                categoryCode: categoryCode,
                isActive: isActive
            }),
            headers: {
                    'Authorization': bearer,
                'Content-type': 'application/json; charset=UTF-8',
            }

        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.log(error))
            })

    })



</script>



<style>
    .card {
        width: 900px;
        background-color: white;
        margin-top: 50px;
    }

    .card-header {
        background-color: white;
    }

    .card-footer {
        background-color: white;
    }
</style>