@model FruitSA_Dev_Test.DAL.Models.Category

@{
    ViewData["Title"] = "Create Category";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Create Product</title>
</head>
<body>

    <form id="newProduct" method="post">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header"> <h2>Create new Product</h2></div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="categoryId" class="form-label">Product Id</label>
                            <input type="text" class="form-control" id="productId" name="productId" placeholder="Product Id">
                        </div>

                        <div class="mb-3">
                            <label for="categoryName" class="form-label">Product Code</label>
                            <input type="text" class="form-control" id="productCode" name="productCode" placeholder="Product Code">
                        </div>

                        <div class="mb-3">
                            <label for="categoryCode" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Product Name">
                        </div>

                        <div class="mb-3">
                            <label for="categoryCode" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description" placeholder="Product Description">
                        </div>

                         <div class="mb-3">
                            <label for="categoryCode" class="form-label">Category Name</label>
                            <input type="text" class="form-control" id="categoryName" name="categoryName" placeholder="Category">
                        </div>

                         <div class="mb-3">
                            <label for="categoryCode" class="form-label">Price</label>
                            <input type="text" class="form-control" id="price" name="price" placeholder="Price">
                        </div>
                        
                         <div class="mb-3">
                            <label for="categoryCode" class="form-label">Image</label>
                            <input type="file" class="form-control" id="productImage" name="productImage" placeholder="Image">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="col-md-2">
                            <input class="btn btn-success" type="submit" value="Save" />
                        <a class="btn btn-danger" href="/Products/Products">Cancel</a>

                        </div>
                    </div>
            </div>
        </div>
    </form>



</body>

</html>
<script>

    const form = document.getElementById('newProduct');

    newProduct.addEventListener('submit', function (e) 
    {
        e.preventDefault();

        const products = new FormData(form);
        var productId = document.getElementById('productId').value;
        var productCode = document.getElementById('productCode').value;
        var name = document.getElementById('name').value;
        var description = document.getElementById('description').value;
        var categoryName = document.getElementById('categoryName').value;
        var price = document.getElementById('price').value;
        var fileBase64 = "";

        var fileData = document.getElementById('productImage').files[0];
        var reader = new FileReader();
        reader.readAsDataURL(fileData);
        reader.onload = function () 
        {
            fileBase64 = reader.result;

            var imageBytes = fileBase64;

            $(document).ready(function () {
                var bearer_token = localStorage.getItem("FruitsKey");
                var bearer = 'Bearer ' + bearer_token;

                fetch('https://localhost:7252/api/Product/CreateProduct',
                    {
                        method: "POST",
                        body: JSON.stringify
                            ({
                                productId: productId,
                                productCode: productCode,
                                name: name,
                                description: description,
                                categoryName: categoryName,
                                price: price,
                                image: imageBytes
                            }),
                        headers:
                        {
                            'Authorization': bearer,
                            'Content-type': 'application/json; charset=UTF-8',
                        }
                    })
                    .then(response => response.json())
                    .then(data => console.log(data))
                    .catch(error => console.log(error))
            })
        };
    });
                
                   
    

</script>



<style>
    .card {
        width: 900px;
        background-color: white;
        margin-top:50px;
    }
    .card-header {
        background-color: white;
    }
    .card-footer {
        background-color: white;
    }
</style>