@model FruitSA_Dev_Test.DAL.Models.Category

@{
    ViewData["Title"] = "Products";
}


<h3>Products List</h3>

<a class="btn btn-secondary" href="CreateProduct/0">New Product</a>

<table class="table table-bg table-striped" id="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product Code</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="table_body">
    </tbody>
</table>


<script>

        $(document).ready(function () {
        var bearer_token = localStorage.getItem("FruitsKey");
        var bearer = 'Bearer ' + bearer_token;
        fetch("https://localhost:7252/api/Product/GetProducts",
    {
    method: 'GET',
    headers: {
    'Authorization': bearer,
    }
    }
    )
    .then((data) => {
        if(data.status!==200)
       {
           window.location.href = "/Login/Login";
       }
        return data.json();
        })
    .then((products) => {
            let tableData = "";
                products.map((values) => {
                  
                tableData +=
                        `<tr>
                            <td>${values.productId}</td>
                            <td>${values.productCode}</td>
                            <td>${values.name}</td>
                            <td>${values.description}</td>
                            <td>${values.categoryName}</td>
                            <td>${values.price}</td>
                            <td><img src= "${values.image}" width='50' height='50'/></td>
                            <td>
                                <a class="btn btn-secondary" href="UpdateProduct/${values.productId}">Edit</a>
                            </td>
                        </tr>`;
            });
            document.getElementById("table_body").innerHTML = tableData;
            
    $('#table').DataTable({
    dom: 'lBfrtip',
        buttons: [
            'excel'
        ],
    })
    .catch(error)
    {
      alert("Error");
    };

    });
    
});


</script>

<style>
    .table {
        margin-top: 50px;
    }
</style>
