@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fruit South Africa</h1>

    <img class = "logo" src="/pics/logo.png" />
</div>

<style>
    .logo{
        width:350px;
        margin-top:50px;
        margin-left: 50px;
    }
</style>